/* index.css */

#education {
    position: relative;
    z-index: 50;
    margin: 3rem 0;
    padding-top: 2rem;
    border-top: 1px solid #25213b;
}

#education .section-image {
    position: absolute;
    top: 0;
    z-index: -10;
    width: 100%;
    height: auto;
}

#education .divider {
    display: flex;
    justify-content: center;
    transform: translateY(-1px);
}

#education .divider-line {
    width: 75%;
    height: 1px;
    /* light color */
    background: linear-gradient(to right, transparent, orange, transparent);
}

#education .header {
    display: flex;
    justify-content: center;
    margin: 1.25rem 0;
    padding: 2rem 0;
}

#education .header-content {
    display: flex;
    align-items: center;
}

#education .header-line {
    width: 6rem;
    height: 2px;
    background-color: #1a1443;
}

#education .header-text {
    background-color: #1a1443;
    color: white;
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.375rem;
}

#education .content {
    padding: 2rem 0;
}

#education .content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 1024px) {
    #education .content-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
}

#education .animation-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#education .animation-wrapper {
    width: 75%;
    height: 75%;
}

#education .education-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#education .education-card {
    position: relative;
    padding: 1rem;
    color: white;
}

#education .education-card img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

#education .education-card .duration {
    text-align: center;
    color: #16f2b3;
    font-size: 0.75rem;
}

#education .education-card .icon {
    color: #8a2be2;
    transition: transform 0.3s;
}

#education .education-card .icon:hover {
    transform: scale(1.25);
}

#education .education-card .details {
    padding: 1.25rem 0.75rem;
}

#education .education-card .title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

#education .education-card .institution {
    font-size: 0.875rem;
}

/* Dark mode styles */
body.dark-mode #education .header-text {
    background-color: #1a1443;
    color: #ffffff;
}

body.dark-mode #education .education-card .duration {
    color: #16f2b3;
}

body.dark-mode #education .education-card .title,
body.dark-mode #education .education-card .institution {
    color: #ffffff;
}

body.dark-mode #education .divider-line {
    width: 75%;
    height: 1px;
    background: linear-gradient(to right, transparent, #8a2be2, transparent);
}